.max-container {
  max-width: 1440px;
  margin: 0 auto;
}

.padding-container {
  padding: 0 120px;

  @include respond(screen-xl) {
    padding: 0 60px;
  }

  @include respond(screen-md) {
    padding: 0 40px;
  }

  @include respond(screen-sm) {
    padding: 0 20px;
  }
}

.section-header {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 12px;  
  

  & > p {
    color: $color-secondary;
  }
}

.section-padding {
  padding: 48px 0;
}



